/* 	homescreen.css - for testing of homescreen.js 
	Kristoffer Lorentsen 2014
*/

/* Conditional styling */
#compChrome, #compSafari, #compBrowser, #standalone{
	background-color: red;
}

.hsChrome #compChrome, .hsSafari #compSafari, .hsBrowser #compBrowser, .hsStandalone #standalone {
	background-color: green;
}

/* Some other random CSS */
dd {
	display: inline;
}